In [1]:
import pandas as pd
import numpy as np
from imutils import paths

In [2]:
# list(paths.list_images('final_train'))

In [3]:
names = pd.read_csv('train_dicom_names.csv')

In [4]:
imagesPaths = 'final_train/data/' + names + '.jpg'

In [5]:
imagesPaths.columns = ['imagePath']

In [6]:
labels = np.loadtxt('labels.csv', delimiter=",", dtype = np.int8)

In [7]:
columns = [ 'epidural', 'intraparenchymal' , 'intraventricular' , 'subarachnoid', 'subdural', 'any']

In [8]:
imagesPaths['imageName'] = names

                                imagePath
0       final_train/data/ID_12cadc6af.jpg
1       final_train/data/ID_38fd7baa0.jpg
2       final_train/data/ID_6c5d82413.jpg
3       final_train/data/ID_aec8e68b3.jpg
4       final_train/data/ID_4d9209c7c.jpg
...                                   ...
752802  final_train/data/ID_41029e8f0.jpg
752803  final_train/data/ID_4b74ffd24.jpg
752804  final_train/data/ID_e5c02a4ca.jpg
752805  final_train/data/ID_8079930a8.jpg
752806  final_train/data/ID_4a85a3a3f.jpg

[752807 rows x 1 columns]

In [9]:
data = pd.DataFrame(labels, columns = columns)

In [10]:
data_final = pd.concat([imagesPaths, data], axis=1, sort=False)

In [12]:
data_final

,imagePath,epidural,intraparenchymal,intraventricular,subarachnoid,subdural,any,imageName
0,final_train/data/ID_12cadc6af.jpg,0,0,0,0,0,0,ID_12cadc6af
1,final_train/data/ID_38fd7baa0.jpg,0,0,0,0,0,0,ID_38fd7baa0
2,final_train/data/ID_6c5d82413.jpg,0,0,0,0,0,0,ID_6c5d82413
3,final_train/data/ID_aec8e68b3.jpg,0,0,0,1,0,1,ID_aec8e68b3
4,final_train/data/ID_4d9209c7c.jpg,0,0,0,0,0,0,ID_4d9209c7c
...,...,...,...,...,...,...,...,...
752802,final_train/data/ID_41029e8f0.jpg,0,0,0,0,0,0,ID_41029e8f0
752803,final_train/data/ID_4b74ffd24.jpg,0,0,0,0,0,0,ID_4b74ffd24
752804,final_train/data/ID_e5c02a4ca.jpg,0,0,0,0,0,0,ID_e5c02a4ca
752805,final_train/data/ID_8079930a8.jpg,0,0,0,0,0,0,ID_8079930a8
752806,final_train/data/ID_4a85a3a3f.jpg,0,0,0,0,0,0,ID_4a85a3a3f

In [13]:
data_final.to_csv('dataframe.csv', index = False)